.buttonFloatUid {
    margin: 0px;
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.dialogContent {
    display: flex;
    flex: 1;
    flex-direction: column;
}